<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="OnStart" value="c:\putty\mir-remote.bat"></add>
      <add key="OnStop" value="c:\putty\mir-remote-kill.bat"></add>
    </appSettings>
</configuration>